{%extends "layout.html"%}
{%block content%}
<div class="about">
    <h1>About page</h1>
    <p>Sed massa augue, dignissim id condimentum nec, blandit sit amet tellus. Nam tempor felis eu orci efficitur, quis
        laoreet nibh ultricies. Vestibulum tempus sodales augue vitae accumsan. Fusce fermentum nunc arcu, nec elementum
        nulla faucibus vel. Aenean dignissim dui ut est porta facilisis. Morbi a turpis ac justo posuere vehicula. Ut
        cursus neque rutrum, feugiat risus quis, blandit sem. Cras luctus neque fermentum, mattis felis at, imperdiet
        lectus.

        Pellentesque malesuada quam eleifend justo tempor convallis. Vestibulum ante ipsum primis in faucibus orci
        luctus et ultrices posuere cubilia Curae; Ut elit nunc, eleifend eget ultricies quis, mattis ac purus. Vivamus
        tellus est, consectetur id erat a, euismod convallis erat. Aliquam erat volutpat. Morbi eget pretium diam. Sed
        lectus sapien, eleifend non porta vitae, condimentum ut nisi. Nunc facilisis augue et sapien maximus lobortis.
    </p>
</div>
{%endblock%}