{%extends "layout.html"%}
{%block content%}
<div class="home">
    <h1>Home page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis pharetra lacus. Aliquam quis nibh leo. Sed
        porttitor dolor justo, a bibendum nisl porta a. Proin nec euismod eros, non aliquet nisi. Quisque porttitor,
        quam sit amet semper commodo, quam erat sodales nunc, et vulputate lectus sem nec massa. Maecenas sit amet massa
        non urna aliquam commodo. Phasellus nulla ligula, maximus quis congue eu, placerat et ante. Proin blandit
        egestas quam.
    </p>
</div>
{%endblock%}